<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/f/e/0/fe994c3e2948885eb022fc1fb4f18370.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/f/1/f/f12da09d2831eb1249378169c46fcddf.png</string>
		<key>id</key>
		<string>1682</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>时令食材</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>羊肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>排骨</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸡肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芹菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>油菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>白萝卜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>冬笋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芋头</string>
			</dict>
			<dict>
				<key>t</key>
				<string>大白菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>红薯</string>
			</dict>
			<dict>
				<key>t</key>
				<string>柚子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>菜花</string>
			</dict>
			<dict>
				<key>t</key>
				<string>栗子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>松子</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/6/6/8/66d25571409b767cfb74095b50d5ff48.png</string>
		<key>color</key>
		<string>e3a478</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/a/1/a/a1fccca7d4b314be293f03045336447a.png</string>
		<key>id</key>
		<string>7</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>热门</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>早餐食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>午餐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>下午茶</string>
			</dict>
			<dict>
				<key>t</key>
				<string>晚餐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>宵夜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>家常菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>下饭菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>快手菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>私家菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>煲汤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烘焙</string>
			</dict>
			<dict>
				<key>t</key>
				<string>懒人食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>二人世界</string>
			</dict>
			<dict>
				<key>t</key>
				<string>单身食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>一家三口</string>
			</dict>
			<dict>
				<key>t</key>
				<string>孕妇食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>月子餐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>产妇食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>素食主义</string>
			</dict>
			<dict>
				<key>t</key>
				<string>深夜食堂</string>
			</dict>
			<dict>
				<key>t</key>
				<string>微波炉食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烤箱食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>生日聚会</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/b/1/5/b194713227a51322fd317a6f618f5e45.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/a/f/1/af457e54e4583d7b7b0bb688ce626ea1.png</string>
		<key>id</key>
		<string>1679</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>口味</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>甜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸</string>
			</dict>
			<dict>
				<key>t</key>
				<string>咸</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鲜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>苦</string>
			</dict>
			<dict>
				<key>t</key>
				<string>清淡</string>
			</dict>
			<dict>
				<key>t</key>
				<string>辣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>麻辣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香辣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸辣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>甜辣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸甜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>孜然</string>
			</dict>
			<dict>
				<key>t</key>
				<string>椒盐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>咖喱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黑椒</string>
			</dict>
			<dict>
				<key>t</key>
				<string>怪味</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蒜香</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鱼香</string>
			</dict>
			<dict>
				<key>t</key>
				<string>奶香</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/7/3/9/73b8d99118a4995a0c8598be2a098769.png</string>
		<key>color</key>
		<string>c4c779</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/f/6/1/f6bc60401d9b20039ccb466dc79c7251.png</string>
		<key>id</key>
		<string>3</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>蔬菜</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>土豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>白萝卜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>青椒</string>
			</dict>
			<dict>
				<key>t</key>
				<string>韭菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芹菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>圆白菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>茄子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>刀豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>冬笋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>红薯</string>
			</dict>
			<dict>
				<key>t</key>
				<string>山药</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香菇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>木耳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>银耳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>金针菇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海带</string>
			</dict>
			<dict>
				<key>t</key>
				<string>紫菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>杏鲍菇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>平菇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>茶树菇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>榨菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>辣白菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸豆角</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸笋</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/4/2/e/42f4e59e506a7cec9d099eb8a13bb6ce.png</string>
		<key>color</key>
		<string>e3a478</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/1/a/d/1a495e6d2102c95b5a680468dd7a475d.png</string>
		<key>id</key>
		<string>1</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>肉类</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>猪肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>瘦肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>五花肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>排骨</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香肠</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊腿</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊排</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊里脊</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊蝎子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>羊肚</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛排</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛腩</string>
			</dict>
			<dict>
				<key>t</key>
				<string>肥牛</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛肚</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛里脊</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛尾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛蹄筋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛心</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸡肉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸡翅</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸡腿</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸭血</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/d/b/3/db298f62b2d1ae493997f51998326ee3.png</string>
		<key>color</key>
		<string>a7cbc6</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/1/e/7/1ed5430ae1227cb96bcc4482b66fb327.png</string>
		<key>id</key>
		<string>2</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>水产</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>草鱼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鲫鱼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>虾仁</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>河虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>北极虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>龙虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>明虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>基围虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>小龙虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>皮皮虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>对虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>江虾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>大闸蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>梭子蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>河蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>螃蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>青蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海蟹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蛤蜊</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蛏子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鲍鱼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>扇贝</string>
			</dict>
			<dict>
				<key>t</key>
				<string>生蚝</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香螺</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海参</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鱿鱼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海蜇</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/1/3/b/138674a657486fdb36fa06346ac6b04b.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/e/8/8/e870f29114ef161c249d35f2754666d8.png</string>
		<key>id</key>
		<string>1650</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>主食</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>炒饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>煲仔饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>盖浇饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>焗饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烩饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>焖饭</string>
			</dict>
			<dict>
				<key>t</key>
				<string>粥</string>
			</dict>
			<dict>
				<key>t</key>
				<string>寿司</string>
			</dict>
			<dict>
				<key>t</key>
				<string>饼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>炒饼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>面条</string>
			</dict>
			<dict>
				<key>t</key>
				<string>炒面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>焖面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>凉面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>拌面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>包子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>馒头</string>
			</dict>
			<dict>
				<key>t</key>
				<string>饺子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>馄饨</string>
			</dict>
			<dict>
				<key>t</key>
				<string>便当</string>
			</dict>
			<dict>
				<key>t</key>
				<string>油条</string>
			</dict>
			<dict>
				<key>t</key>
				<string>花卷</string>
			</dict>
			<dict>
				<key>t</key>
				<string>锅贴</string>
			</dict>
			<dict>
				<key>t</key>
				<string>窝头</string>
			</dict>
			<dict>
				<key>t</key>
				<string>盒子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>发糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>三明治</string>
			</dict>
			<dict>
				<key>t</key>
				<string>汉堡</string>
			</dict>
			<dict>
				<key>t</key>
				<string>馕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>锅盔</string>
			</dict>
			<dict>
				<key>t</key>
				<string>玉米饼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>卷饼</string>
			</dict>
			<dict>
				<key>t</key>
				<string>河粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>米粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>米线</string>
			</dict>
			<dict>
				<key>t</key>
				<string>意大利面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>披萨</string>
			</dict>
			<dict>
				<key>t</key>
				<string>肉夹馍</string>
			</dict>
			<dict>
				<key>t</key>
				<string>小吃</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/a/6/7/a629dc5c8e38043eea764cda6323dae7.png</string>
		<key>color</key>
		<string>c4c779</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/3/2/f/32d7267caf9c3fad65006583f2c543ef.png</string>
		<key>id</key>
		<string>6</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>菜系</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>川菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>湘菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>粤菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鲁菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>东北菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>西北菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>浙菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>苏菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>上海菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>京菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>闽菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>徽菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>淮扬菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>云南菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>清真</string>
			</dict>
			<dict>
				<key>t</key>
				<string>晋菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>豫菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>新疆菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鄂菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>赣菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>台湾美食</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香港美食</string>
			</dict>
			<dict>
				<key>t</key>
				<string>西餐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>法国菜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>日本料理</string>
			</dict>
			<dict>
				<key>t</key>
				<string>韩国料理</string>
			</dict>
			<dict>
				<key>t</key>
				<string>泰国菜</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/4/c/c/4c51fe3bbc866158ca8bb63a8170600c.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/f/0/0/f0239792eb80017c4729924cef4f3050.png</string>
		<key>id</key>
		<string>1486</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>烘焙天堂</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>面包</string>
			</dict>
			<dict>
				<key>t</key>
				<string>曲奇</string>
			</dict>
			<dict>
				<key>t</key>
				<string>泡芙</string>
			</dict>
			<dict>
				<key>t</key>
				<string>杯子蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蛋挞</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蛋糕卷</string>
			</dict>
			<dict>
				<key>t</key>
				<string>戚风蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>海绵蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>吐司</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芝士蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>饼干</string>
			</dict>
			<dict>
				<key>t</key>
				<string>马卡龙</string>
			</dict>
			<dict>
				<key>t</key>
				<string>派</string>
			</dict>
			<dict>
				<key>t</key>
				<string>欧式蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>马芬</string>
			</dict>
			<dict>
				<key>t</key>
				<string>奶油蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>慕斯蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>磅蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>挞</string>
			</dict>
			<dict>
				<key>t</key>
				<string>小蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>翻糖蛋糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>中式糕点</string>
			</dict>
			<dict>
				<key>t</key>
				<string>月饼</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/5/b/a/5b14035ba6545618e69a6a68a45a5f4a.png</string>
		<key>color</key>
		<string>a7cbc6</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/b/d/6/bd8665c5d8288b8c40397dfb87701356.png</string>
		<key>id</key>
		<string>522</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>母婴专区</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>孕妇食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>月子餐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>产妇食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>催乳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>回奶</string>
			</dict>
			<dict>
				<key>t</key>
				<string>婴儿（6-8个月）</string>
			</dict>
			<dict>
				<key>t</key>
				<string>婴儿（8-10个月）</string>
			</dict>
			<dict>
				<key>t</key>
				<string>婴儿（10-12个月）</string>
			</dict>
			<dict>
				<key>t</key>
				<string>幼儿食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>学龄前</string>
			</dict>
			<dict>
				<key>t</key>
				<string>儿童</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/4/0/9/405b29274c4114ba103ba59a8f154f99.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/b/e/7/beb7c03c6ae663878504dc2022eee917.png</string>
		<key>id</key>
		<string>1368</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>食疗养生</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>补钙食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>对抗雾霾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>润肠通便</string>
			</dict>
			<dict>
				<key>t</key>
				<string>明目</string>
			</dict>
			<dict>
				<key>t</key>
				<string>润肺止咳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>痛经</string>
			</dict>
			<dict>
				<key>t</key>
				<string>祛湿</string>
			</dict>
			<dict>
				<key>t</key>
				<string>保肝补血</string>
			</dict>
			<dict>
				<key>t</key>
				<string>抗癌</string>
			</dict>
			<dict>
				<key>t</key>
				<string>滋阴壮阳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>调节内分泌</string>
			</dict>
			<dict>
				<key>t</key>
				<string>补肾</string>
			</dict>
			<dict>
				<key>t</key>
				<string>秋冬进补</string>
			</dict>
			<dict>
				<key>t</key>
				<string>消暑解渴</string>
			</dict>
			<dict>
				<key>t</key>
				<string>清热去火</string>
			</dict>
			<dict>
				<key>t</key>
				<string>健脾养胃</string>
			</dict>
			<dict>
				<key>t</key>
				<string>消食</string>
			</dict>
			<dict>
				<key>t</key>
				<string>提高免疫</string>
			</dict>
			<dict>
				<key>t</key>
				<string>驱寒暖身</string>
			</dict>
			<dict>
				<key>t</key>
				<string>养发</string>
			</dict>
			<dict>
				<key>t</key>
				<string>减压</string>
			</dict>
			<dict>
				<key>t</key>
				<string>降血压</string>
			</dict>
			<dict>
				<key>t</key>
				<string>降血脂</string>
			</dict>
			<dict>
				<key>t</key>
				<string>降血糖</string>
			</dict>
			<dict>
				<key>t</key>
				<string>骨质疏松</string>
			</dict>
			<dict>
				<key>t</key>
				<string>便秘</string>
			</dict>
			<dict>
				<key>t</key>
				<string>腹泻</string>
			</dict>
			<dict>
				<key>t</key>
				<string>贫血</string>
			</dict>
			<dict>
				<key>t</key>
				<string>口腔溃疡</string>
			</dict>
			<dict>
				<key>t</key>
				<string>感冒发烧</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/3/9/d/393d2ad013c09f1bbb4df7bca768eb9d.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/d/a/5/da39dbee5bdf40326187c3b55830c995.png</string>
		<key>id</key>
		<string>1667</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>美容瘦身</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>减肥食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>美白食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>排毒养颜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>紧致肌肤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>丰胸</string>
			</dict>
			<dict>
				<key>t</key>
				<string>祛痘祛斑</string>
			</dict>
			<dict>
				<key>t</key>
				<string>经期</string>
			</dict>
			<dict>
				<key>t</key>
				<string>更年期</string>
			</dict>
			<dict>
				<key>t</key>
				<string>延缓衰老</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/8/b/e/8bbc0ecabaf9e45ddc91c94900706a0e.png</string>
		<key>color</key>
		<string>e7c38d</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/6/3/8/638e077c72077616aca69fc4cf2607e8.png</string>
		<key>id</key>
		<string>4</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>蛋奶豆制品</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>牛奶</string>
			</dict>
			<dict>
				<key>t</key>
				<string>酸奶</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黄油</string>
			</dict>
			<dict>
				<key>t</key>
				<string>乳酪</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芝士</string>
			</dict>
			<dict>
				<key>t</key>
				<string>奶油</string>
			</dict>
			<dict>
				<key>t</key>
				<string>炼乳</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸡蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鸭蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鹌鹑蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>皮蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>卤蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>鹅蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>咸鸭蛋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黄豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>红豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>绿豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>豇豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蚕豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>毛豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>豌豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黑豆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>豆腐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>南豆腐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>北豆腐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>腐竹</string>
			</dict>
			<dict>
				<key>t</key>
				<string>千张</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香干</string>
			</dict>
			<dict>
				<key>t</key>
				<string>油豆腐</string>
			</dict>
			<dict>
				<key>t</key>
				<string>油豆皮</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/4/3/5/43dfdaac68d8f91530eaca8c81705735.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/e/6/2/e6c53a95377fc5fa42ed3398a88a9512.png</string>
		<key>id</key>
		<string>1680</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>水果干果</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>苹果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>梨</string>
			</dict>
			<dict>
				<key>t</key>
				<string>柚子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>山楂</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蓝莓</string>
			</dict>
			<dict>
				<key>t</key>
				<string>柠檬</string>
			</dict>
			<dict>
				<key>t</key>
				<string>桔子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>猕猴桃</string>
			</dict>
			<dict>
				<key>t</key>
				<string>火龙果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>荔枝</string>
			</dict>
			<dict>
				<key>t</key>
				<string>枣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>西瓜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>木瓜</string>
			</dict>
			<dict>
				<key>t</key>
				<string>草莓</string>
			</dict>
			<dict>
				<key>t</key>
				<string>桃</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芒果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香蕉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>桂圆</string>
			</dict>
			<dict>
				<key>t</key>
				<string>牛油果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>石榴</string>
			</dict>
			<dict>
				<key>t</key>
				<string>无花果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>核桃</string>
			</dict>
			<dict>
				<key>t</key>
				<string>花生</string>
			</dict>
			<dict>
				<key>t</key>
				<string>芝麻</string>
			</dict>
			<dict>
				<key>t</key>
				<string>开心果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>干枣</string>
			</dict>
			<dict>
				<key>t</key>
				<string>夏威夷果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>腰果</string>
			</dict>
			<dict>
				<key>t</key>
				<string>枸杞</string>
			</dict>
			<dict>
				<key>t</key>
				<string>栗子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>莲子</string>
			</dict>
			<dict>
				<key>t</key>
				<string>杏仁</string>
			</dict>
			<dict>
				<key>t</key>
				<string>瓜子仁</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/c/e/7/ce2a5d8977f4d73f92cbdd0e3a9f1497.png</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/3/9/5/3946d4c4fe8314a531991a24c4ad2065.png</string>
		<key>id</key>
		<string>1681</string>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>米面杂粮</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>大米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>糯米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>糙米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>香米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>粳米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>面粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>高筋面粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>低筋面粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>中筋面粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>全麦粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>糯米粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>玉米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>玉米面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>小米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>小米面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黑米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>紫米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>薏米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>燕麦片</string>
			</dict>
			<dict>
				<key>t</key>
				<string>大麦</string>
			</dict>
			<dict>
				<key>t</key>
				<string>高粱米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>荞麦</string>
			</dict>
			<dict>
				<key>t</key>
				<string>荞麦粉</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黄米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>黄米面</string>
			</dict>
			<dict>
				<key>t</key>
				<string>西米</string>
			</dict>
			<dict>
				<key>t</key>
				<string>魔芋</string>
			</dict>
			<dict>
				<key>t</key>
				<string>年糕</string>
			</dict>
			<dict>
				<key>t</key>
				<string>饵块</string>
			</dict>
			<dict>
				<key>t</key>
				<string>粉丝</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon_f</key>
		<string>http://i1.douguo.net/upload/caiku/4/8/9/48cfff48a0d12ad432d15f26cb48e009.png</string>
		<key>color</key>
		<string>9c8a73</string>
		<key>icon</key>
		<string>http://i1.douguo.net/upload/caiku/e/7/a/e7724ed5b79dcf0e56b2cfa5362f1ffa.png</string>
		<key>id</key>
		<string>5</string>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>烹饪方法及工具</string>
		<key>tags</key>
		<array>
			<dict>
				<key>t</key>
				<string>炒</string>
			</dict>
			<dict>
				<key>t</key>
				<string>煎</string>
			</dict>
			<dict>
				<key>t</key>
				<string>煮</string>
			</dict>
			<dict>
				<key>t</key>
				<string>煲</string>
			</dict>
			<dict>
				<key>t</key>
				<string>炖</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烧烤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>免烤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>蒸</string>
			</dict>
			<dict>
				<key>t</key>
				<string>炸</string>
			</dict>
			<dict>
				<key>t</key>
				<string>拌</string>
			</dict>
			<dict>
				<key>t</key>
				<string>卤</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烙</string>
			</dict>
			<dict>
				<key>t</key>
				<string>红烧</string>
			</dict>
			<dict>
				<key>t</key>
				<string>腌</string>
			</dict>
			<dict>
				<key>t</key>
				<string>焗</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烩</string>
			</dict>
			<dict>
				<key>t</key>
				<string>榨汁</string>
			</dict>
			<dict>
				<key>t</key>
				<string>烤箱食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>面包机食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>电饭煲食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>豆浆机食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>微波炉食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>电饼铛食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>高压锅食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>空气炸锅食谱</string>
			</dict>
			<dict>
				<key>t</key>
				<string>塔吉锅食谱</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
